<br/>
<div>
	<div class="col-md-4">
		<div class="text-center">
			<button type="button" class="btn btn-default"
				x-ng-click="testMailService()">
				Test Mail
			</button>
		</div>
		<div>&nbsp;</div>
		<div>
			<pre>{{mail.message}}</pre>
		</div>
	</div>
	<div class="col-md-4">
		<div class="text-center">
			<button type="button" class="btn btn-default"
				x-ng-click="testUrlFetchService()">
				Test Url Fetch
			</button>
		</div>
		<div>&nbsp;</div>
		<div>
			<pre>{{urlFetch.message}}</pre>
		</div>
	</div>
	<div class="col-md-4">
		&nbsp;
	</div>
</div>
